nixml: v0.0
lang: python # optional, specifies the build-pack
# also possible: github.com/nixos/nixpgks:sha
snapshot: stable-19.04
packages:
  - lang: python
    version: 3.6
    modules:
      - pyyaml
  - lang: nix
    modules:
      - vim
